.header{
    text-align:center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top:60px;
}
.container{
    display: flex;
}

.small-div{
    width: 100px;
    height: 150px;
    background-color: dimgray;
    padding: 10px;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}

.large-div{
    flex-grow: 1;
    background-color: slategrey;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.product{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.pic {
    width: 90%;
}

.price{
    position: relative;
    margin-top: 10px;
}

.original-price{
    text-decoration: line-through;
    color: red;
}
.discounted-price{
    color: white;
}

.product-container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.product-details{
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.discounted-price-d{
    color: #0b1a5e;
}

.product-images{
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.product-images img{
    width: 150px;
    max-width:100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}
.product-description{
    clear: both;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.cart-container{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #0c1433;
    border-bottom-left-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
}

.cart-link{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.cart-info-container{
    width: 200px;
    height: 50px;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-left: 20px;
}

.cart-icon{
    color: #fff;
}

.cart-info{
    color: #fff;
}