.header{
    text-align:center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top:60px;
}
.container{
    display: flex;
}

.small-div{
    width: 100px;
    height: 150px;
    background-color: dimgray;
    padding: 10px;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}

.large-div{
    flex-grow: 1;
    background-color: slategrey;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.product{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.pic {
    width: 90%;
}

.price{
    position: relative;
    margin-top: 10px;
}

.original-price{
    text-decoration: line-through;
    color: red;
}
.discounted-price{
    color: white;
}

.product-container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.product-details{
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.discounted-price-d{
    color: #0b1a5e;
}

.product-images{
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.product-images img{
    width: 150px;
    max-width:100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}
.product-description{
    clear: both;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.cart-container{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #0c1433;
    border-bottom-left-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
}

.cart-link{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.cart-info-container{
    width: 200px;
    height: 50px;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-left: 20px;
}

.cart-icon{
    color: #fff;
}

.cart-info{
    color: #fff;
}

/*------------------------------------*/
.cart-detail-container{
    width: 80%;
    margin: 20px auto;
    background-color: lightslategrey;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-item{
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    align-items: center;
}

.product-image{
    max-width: 200px;
    max-height: 200px;
    margin-right: 20px;
}

.product-info{
    flex-grow: 1;
    text-align: left;
}

.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.quantity-add, .quantity-decrease, .quantity-remove{
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #0b1a5e;
    background-color: #eee;
}

.total-price{
    font-weight: bold;
    margin-top: 20px;
}

.checkout-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.continue-btn, .back-btn{
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #0c1433;
}



/*------------------------------------*/
.success, .failure {
    text-align: center;
    margin: 100px auto;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}
.success {
    background-color: #4CAF50; /* سبز */
}
.failure {
    background-color: #f44336; /* قرمز */
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


/*------------------------------------*/
table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.success {
    background-color: #dff0d8;
}
.failure {
    background-color: #f2dede;
}