/*
Name: 			theme-blog.css
Written by: 	Okler Themes - (http://www.okler.net)
Theme Version:	@@version
*/
/* Posts */
.blog-posts:not(.blog-posts-no-margins) article {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  margin-bottom: 50px;
  padding-bottom: 22px;
}

.blog-posts:not(.blog-posts-no-margins) .pagination {
  margin: 0 0 20px;
}

.blog-posts.blog-posts-no-margins .pagination {
  margin-top: 3rem;
}

/* Post */
article.post h1, article.post h2, article.post h3, article.post h4, article.post h5, article.post h6 {
  font-family: inherit;
}

article.post h2 a {
  text-decoration: none;
}

article.post .post-meta {
  font-size: 0.9em;
  margin-bottom: 7px;
}

article.post .post-meta > span {
  display: inline-block;
  padding-left: 8px;
}

article.post .post-meta i {
  margin-left: 3px;
  vertical-align: middle;
  margin-top: -1px;
}

article.post .post-date {
  float: right;
  margin-left: 20px;
  text-align: center;
  min-width: 55px;
}

article.post .post-date .month {
  display: block;
  background: #CCC;
  border-radius: 0 0 2px 2px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 1.8;
  padding: 0 0 2px;
}

article.post .post-date .day {
  background: #f7f7f7;
  border-radius: 2px 2px 0 0;
  color: #CCC;
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0;
}

article.post .post-image .owl-carousel {
  width: 100.1%;
}

article .post-video {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  display: block;
  height: auto;
  position: relative;
  margin: 0 0 30px 0;
  padding-bottom: 61%;
}

article .post-video iframe {
  bottom: 0;
  height: auto;
  right: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 4px;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
}

article .post-audio {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  display: block;
  height: auto;
  position: relative;
  margin: 0 0 30px 0;
  padding-bottom: 35%;
  min-height: 160px;
}

article .post-audio iframe {
  bottom: 0;
  height: auto;
  right: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 4px;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
}

article.post-medium .post-image .owl-carousel {
  width: 100.2%;
}

article.post-large {
  margin-right: 75px;
}

article.post-large h2 {
  margin-bottom: 10px;
  line-height: 1.75;
}

article.post-large .post-image, article.post-large .post-date {
  margin-right: -75px;
}

article.post-large .post-image {
  margin-bottom: 25px;
}

article.post-large .post-image.single {
  margin-bottom: 30px;
}

article.post-large .post-video {
  margin-right: -75px;
}

article.post-large .post-audio {
  margin-right: -75px;
}

.addthis_default_style .addthis_separator,
.addthis_default_style .at4-icon,
.addthis_default_style .at300b,
.addthis_default_style .at300bo,
.addthis_default_style .at300bs,
.addthis_default_style .at300m {
  float: right !important;
}

/* Single Post */
.single-post article {
  border-bottom: 0;
  margin-bottom: 0;
}

article.blog-single-post .post-meta {
  margin-bottom: 20px;
}

article.blog-single-post .post-image {
  margin-bottom: 35px;
}

/* Post Block */
.post-block h3 {
  font-size: 1.8em;
  font-weight: 300;
  margin: 0 0 20px;
}

.post-block h3 i {
  margin-left: 7px;
}

/* Post Author */
.post-author img {
  max-height: 80px;
  max-width: 80px;
}

.post-author p {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

.post-author p .name {
  font-size: 1.1em;
  line-height: 1.75;
}

.post-author .img-thumbnail {
  display: inline-block;
  float: right;
  margin-left: 20px;
}

/* Post Comments */
ul.comments {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.comments li {
  clear: both;
  padding: 10px 70px 0 0;
}

ul.comments li img.avatar {
  height: 48px;
  width: 48px;
}

ul.comments li ul.reply {
  margin: 0;
}

ul.comments li a {
  text-decoration: none;
}

ul.comments li .img-thumbnail {
  margin-right: -70px;
  position: absolute;
}

ul.comments li .comment {
  margin-bottom: 10px;
}

ul.comments .comment-arrow {
  border-bottom: 12px solid transparent;
  border-left: 12px solid #f7f7f7;
  border-top: 12px solid transparent;
  height: 0;
  right: -12px;
  position: absolute;
  top: 12px;
  width: 0;
}

ul.comments .comment-block {
  background: #f7f7f7;
  border-radius: 5px;
  padding: 20px 20px 40px;
  position: relative;
}

ul.comments .comment-block p {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

ul.comments .comment-block .comment-by {
  display: block;
  font-size: 1.1em;
  line-height: 1.8;
  margin: 0;
  padding: 0 0 10px 0;
}

ul.comments .comment-block .comment-by .fa-reply {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  vertical-align: middle;
}

ul.comments .comment-block .date {
  color: #999;
  font-size: 0.9em;
  line-height: 1.8;
  margin-top: 10px;
}

/* Leave a Comment */
.post-leave-comment h3 {
  margin: 0 0 40px;
}

/* Recent Posts */
.recent-posts h4 {
  margin-bottom: 7px;
}

.recent-posts article.recent-post h4 {
  margin: 0 0 3px 0;
}

.recent-posts article.recent-post h4 a {
  display: block;
}

.recent-posts .date {
  margin-left: 10px;
  text-align: center;
}

.recent-posts .date .month {
  background: #CCC;
  color: #FFF;
  font-size: 0.9em;
  padding: 3px 10px;
  position: relative;
  top: -2px;
}

.recent-posts .date .day {
  background: #F7F7F7;
  color: #CCC;
  display: block;
  font-size: 18px;
  font-weight: 500;
  font-weight: bold;
  padding: 8px;
}

section.section .recent-posts .date .day {
  background: #FFF;
}

/* Simple Post List */
ul.simple-post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.simple-post-list li {
  border-bottom: 1px dotted #E2E2E2;
  padding: 15px 0;
}

ul.simple-post-list li::after {
  clear: both;
  content: "";
  display: block;
}

ul.simple-post-list li:last-child {
  border-bottom: 0;
}

ul.simple-post-list .post-image {
  float: right;
  margin-left: 12px;
}

ul.simple-post-list .post-meta {
  color: #888;
  font-size: 0.85em;
  margin-top: 2px;
}

ul.simple-post-list .post-info {
  line-height: 1.8;
  overflow: hidden;
}

/* Responsive */
@media (max-width: 575px) {
  ul.comments li {
    border-right: 8px solid rgba(0, 0, 0, 0.06);
    clear: both;
    padding: 0 10px 0 0;
  }
  ul.comments li .img-thumbnail {
    display: none;
  }
  ul.comments .comment-arrow {
    display: none;
  }
}
