{% extends 'parent/base.html' %}
{% load static %}
{% block title %}product detail{% endblock %}

{% block content %}

    <div class="header">
        <h1> جزئیات محصول</h1>
    </div>

    <div class="product-container">

        <div class="product-details">
            <h2>{{ product.name }}</h2>
            <p>دسته بندی: {{ product.category }}</p>
            <p>موجودی: {{ product.inventory }}</p>
            <ul>
               {% for f in product.features.all %}
                   <li>{{ f.name }}: {{ f.value }}</li>
                {% endfor %}
            </ul>
            <div class="price">
                <span class="original-price">قیمت: {{ product.price}}</span>
                <br>
                <span class="discounted-price-d">قیمت پس از تخفیف: {{ product.new_price}}</span>
            </div>
            <br>
            <button type="button" id="add-cart">Add to Cart</button>
        </div>

        <div class="product-images">
            {% for img in product.images.all %}
                <img src="{{ img.file.url }}">
            {% endfor %}
        </div>

    </div>

    <div class="product-description">
    <h3>توضیحات محصول</h3>
    <p>{{ product.description }}</p>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function(){
            $('#add-cart').click(function(){
                var button = $(this);

                $.ajax({
                   type: 'POST',
                   url: '{% url 'cart:add_to_cart' product.id %}',
                   data:{'csrfmiddlewaretoken':'{{ csrf_token }}'},
                   success: function(data) {
                    $('#item_count').text(data.item_count);
                    $('#total_price').text(data.total_price);

                   },
                });
            });
        });
    </script>

{% endblock %}