{% extends 'parent/base.html' %}
{% load static %}
{% block title %}cart{% endblock %}

{% block content %}
    <div class="header">
        <h1> سبد خرید</h1>
    </div>
    <div class="cart-detail-container">
    
            {% for item in cart %}
                
                <div class="product-item" data-item-id="{{ item.product.id }}">
                    <a href="{% url 'shop:product_detail' item.product.id item.product.slug  %}">
                        <img src="{{ item.product.images.first.file.url }}" class="product-image">
                    </a>
                    <div class="product-info">
                        <h3>
                            <a href="{% url 'shop:product_detail' item.product.id item.product.slug  %}">
                            نام محصول : {{ item.product.name }}
                            </a>
                        </h3>
                        <p>تعداد: <span id="item-quantity-{{ item.product.id }}">{{ item.quantity }}</span></p>
                        <p>قیمت هر محصول: <span>{{ item.price }}</span></p>
                        <p>قیمت کل: <span id="item-total-{{ item.product.id }}">{{ item.total }}</span></p>
                    </div>
                    <div class="actions">
                        <div class="quantity-add">+</div>
                        <div class="quantity-decrease">-</div>
                        <div class="quantity-remove">حذف</div>
                    </div>
                </div>

            {% endfor %}

        <div class="total-price">
            <p>قیمت کل:<span id="item-total_price">{{ cart.get_total_price }}</span>تومان </p>
            <p>هزینه ارسال:<span id="item-post_price">{{ cart.get_post_price}}</span>تومان </p>
            <p>مبلغ قابل پرداخت:<span id="item-final_price">{{ cart.get_final_price}}</span>تومان </p>
        </div>

        <div class="checkout-buttons">
            <div class="continue-btn"><a href="#">ادامه خرید</a></div>
            <div class="back-btn"><a href="{% url 'shop:product_list' %}">برگشت به لیست محصولات</a></div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function(){

            $('.quantity-add').on('click', function(){
                updateQuantity($(this).closest('.product-item').data('item-id'), 'add');
            });

            $('.quantity-decrease').on('click', function(){
                updateQuantity($(this).closest('.product-item').data('item-id'), 'decrease');
            });

            $('.quantity-remove').on('click', function(){
                removeItem($(this).closest('.product-item').data('item-id'));
            });

            function updateQuantity(itemId, action){
                $.ajax({
                    type: 'POST',
                    url: '{% url 'cart:update_quantity' %}',
                    data: {
                        'item_id': itemId,
                        'action': action,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response){
                        if (response.success) {
                            $('#item_count').text(response.item_count);
                            $('#total_price').text(response.total_price);
                            $('#item-quantity-'+ itemId).text(response.quantity);
                            $('#item-total-'+ itemId).text(response.total);
                            $('#item-total_price').text(response.total_price);
                            $('#item-final_price').text(response.final_price);
                        } else {
                            alert('Error updating quantity!');
                        }
                    }

                });
            }

            function removeItem(itemId){
                $.ajax({
                    type: 'POST',
                    url: '{% url 'cart:remove_item' %}',
                    data: {
                        'item_id': itemId,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response){
                        if (response.success) {
                            $('#item_count').text(response.item_count);
                            $('#total_price').text(response.total_price);
                            $('#item-total_price').text(response.total_price);
                            $('#item-final_price').text(response.final_price);
                            $(`.product-item[data-item-id=${itemId}]`).remove();
                        } else {
                            alert('Error updating quantity!');
                        }
                    }

                });
            }

        });

    </script>
{% endblock %}
