<!DOCTYPE html>
<html dir="rtl" lang="fa">
{% extends 'parent/base.html' %}
{% load static %}
{% block title %}cart{% endblock %}

{% block content %}

		<div class="body">

			<div role="main" class="main shop py-4">

				<div class="container">

					<div class="row">
						<div class="col">

							<div class="featured-boxes">
								<div class="row">
									<div class="col">
										<div class="featured-box featured-box-primary text-left mt-2">
											<div class="box-content">
													<table class="shop_table cart">
														<thead>
															<tr>
																<th class="product-remove">
																	
																</th>
																<th class="product-thumbnail">
																	
																</th>
																<th class="product-name">
																	محصول
																</th>
																<th class="product-price">
																	قیمت
																</th>
																<th class="product-quantity">
																	تعداد
																</th>
																<th class="product-subtotal">
																	جمع
																</th>
															</tr>
														</thead>
														{% for item in cart %}
														<tbody class="product-item" data-item-id="{{ item.product.id }}" >
														
															<tr class="cart_table_item" >
																<td class="product-remove">
																	<a title="حذف این آیتم" class="quantity-remove">
																		<i class="fas fa-times align-middle"></i>
																	</a>
																</td>
																<td>
																	<a href="{% url 'shop:product_detail' item.product.id item.product.slug %}">
																		<img width="100" height="100" alt="" class="img-fluid" src="{{ item.product.images.first.file.url }}">
																	</a>
																</td>
																<td class="product-name ">
																	<a href="{% url 'shop:product_detail' item.product.id item.product.slug %}">{{ item.product.name }}</a>
																</td>
																<td class="product-price">
																	<span class="amount">{{ item.price }} تومان</span>
																</td>
																<td class="product-quantity">
																		<div class="quantity">
																			<input type="button" class="quantity-decrease minus" value="-">
																			<label for="item-quantity-{{ item.product.id }}"></label><input type="text" class="input-text qty text" id="item-quantity-{{ item.product.id }}"  value={{ item.quantity }}  min="1" step="1">
																			<input type="button" class="quantity-add plus" value="+">
																		</div>
																</td>
																<td class="product-subtotal">
																	<span class="amount" id="item-total-{{ item.product.id }}">{{ item.total }} تومان</span>
																</td>
															</tr>
														</tbody>
														{% endfor %}
													</table>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="featured-boxes">
								<div class="row">
									<div class="col-sm-6">
										<div class="featured-box featured-box-primary text-left mt-3 mt-lg-4">
											<div class="box-content">
												<h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">مجموع سبد</h4>
												<table class="cart-totals">
													<tbody>
														<tr class="cart-subtotal">
															<th>
																<strong class="text-dark">جمع سبد</strong>
															</th>
															<td>
																<strong class="text-dark"><span class="amount" id="item-total_price">{{ cart.get_total_price }} </span>تومان</strong>
															</td>
														</tr>
														<tr class="shipping">
															<th>
																حمل و نقل
															</th>
															<td id="item-post_price">
																{{ cart.get_post_price}}<input type="hidden" value="free_shipping" name="shipping_method">
															</td>
														</tr>
														<tr class="total">
															<th>
																<strong class="text-dark d-inline-block pt-1">مجموع سفارش</strong>
															</th>
															<td>
																<strong><span class="amount pt-1" id="item-final_price">{{ cart.get_final_price}} تومان </span></strong>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col">
									<div class="actions-continue mt-2">
										<button type="submit" class="btn  btn-primary btn-modern text-uppercase">پرداخت <i class="fas fa-angle-left ml-1"></i></button>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>

			</div>

		</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function(){

        $('.quantity-add').on('click', function(){
            updateQuantity($(this).closest('.product-item').data('item-id'), 'add');
        });

        $('.quantity-decrease').on('click', function(){
            updateQuantity($(this).closest('.product-item').data('item-id'), 'decrease');
        });

        $('.quantity-remove').on('click', function(){
            removeItem($(this).closest('.product-item').data('item-id'));
        });

        function updateQuantity(itemId, action){
            $.ajax({
                type: 'POST',
                url: '{% url 'cart:update_quantity' %}',
                data: {
                    'item_id': itemId,
                    'action': action,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response){
                    if (response.success) {
                        $('#item_count').text(response.item_count);
                        $('#total_price').text(response.total_price);
                        $('#item-quantity-'+ itemId).text(response.quantity);
                        $('#item-total-'+ itemId).text(response.total + ' '+ 'تومان');
                        $('#item-total_price').text(response.total_price + ' ');
                        $('#item-final_price').text(response.final_price + ' '+ 'تومان');
                    } else {
                        alert('Error updating quantity!');
                    }
                }

            });
        }

        function removeItem(itemId){
            $.ajax({
                type: 'POST',
                url: '{% url 'cart:remove_item' %}',
                data: {
                    'item_id': itemId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response){
                    if (response.success) {
                        $('#item_count').text(response.item_count);
                        $('#total_price').text(response.total_price);
                        $('#item-total_price').text(response.total_price);
                        $('#item-final_price').text(response.final_price);
                        $(`.product-item[data-item-id=${itemId}]`).remove();
                    } else {
                        alert('Error updating quantity!');
                    }
                }

            });
        }

    });

</script>
{% endblock %}
</html>