{% load thumbnail %}
{% load static %}

<p>{{ user.get_full_name }}</p>

<button>Follow/Unfollow</button>

{% if user.photo %}
    <a href="{{ user.photo.url }}">
    <img src="{% thumbnail user.photo 150x0 quality=90 %}">
    </a>
{% else %}
<img src="{% static 'images/profile/Avatar.png' %}" style="width: 200px;">
{% endif %}

    <p>Bio: {{ user.bio|default:'---' }}</p>
    <p>Job: {{ user.job|default:'---' }}</p>
    <p>Date of birth: {{ user.date_of_birth|default:'---' }}</p>

{% with total_followers=user.followers.count total_followings=user.following.count  %}
	<p>{{total_followers}} Follower{{ total_followers|pluralize }}</p>
    <p>{{total_followings}} Following{{ total_followings|pluralize }}</p>

{% endwith %}