{% load static %}
<header class="tr-header">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#navbar-collapse">
						<span class="sr-only">تغییر وضعیت جهت یابی</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'social:post_list' %}"><i class="fab fa-instagram"></i>&nbsp;Sabz Social</a>
				</div><!-- /.navbar-header -->
				<div class="navbar-right">
					<div class="collapse navbar-collapse" id="navbar-collapse">
						<ul class="nav navbar-nav">
						</ul>
					</div>
				</div><!-- /.navbar-right -->
				<div class="navbar-left">
					<ul class="nav navbar-nav">
						<li>
							<div class="search-dashboard">
								<form>
									<input placeholder="جستجو کنید..." type="text">
									<button type="submit"><i class="fa fa-search"></i></button>
								</form>
							</div>
						</li>


{#						<li class="dropdown notification-list">#}
{#							<a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#"#}
{#								role="button" aria-haspopup="false" aria-expanded="false">#}
{#								<i class="fa fa-envelope noti-icon"></i>#}
{#								<span class="badge badge-success badge-pill noti-icon-badge">6</span>#}
{#							</a>#}
{#							<div class="dropdown-menu dropdown-menu-left dropdown-lg dropdown-new">#}
{#								<div class="dropdown-item noti-title">#}
{#									<h6 class="m-0">#}
{#										<span class="pull-left">#}
{#											<a href="#" class="text-dark"><small>نمایش همه</small></a>#}
{#										</span>گفتگو#}
{#									</h6>#}
{#								</div>#}
{##}
{#								<div class="slimScrollDiv"#}
{#									style="position: relative; overflow: hidden; width: auto; height: 416.983px;">#}
{#									<div class="slimscroll"#}
{#										style="max-height: 230px; overflow: hidden; width: auto; height: 416.983px;">#}
{#										<div id="Slim2">#}
{#											<a href="javascript:void(0);" class="dropdown-item notify-item nav-user">#}
{#												<div class="notify-icon"><img src="assets/img/users/1.jpg"#}
{#														class="img-responsive img-circle" alt=""> </div>#}
{#												<p class="notify-details">کریستیانو پیراید</p>#}
{#												<p class="text-muted font-13 mb-0 user-msg">سلام ، حال شما چطور است ؟#}
{#													جلسه بعدی ما چه زمانی است ؟</p>#}
{#											</a>#}
{#											<!--/ dropdown-item-->#}
{#											<a href="javascript:void(0);" class="dropdown-item notify-item nav-user">#}
{#												<div class="notify-icon"><img src="assets/img/users/2.jpg"#}
{#														class="img-responsive img-circle" alt=""> </div>#}
{#												<p class="notify-details">سام گارت</p>#}
{#												<p class="text-muted font-13 mb-0 user-msg">بله ، همه چیز مرتبه</p>#}
{#											</a>#}
{#											<!--/ dropdown-item-->#}
{#											<a href="javascript:void(0);" class="dropdown-item notify-item nav-user">#}
{#												<div class="notify-icon"><img src="assets/img/users/3.jpg"#}
{#														class="img-responsive img-circle" alt=""> </div>#}
{#												<p class="notify-details">کارن رابینسون</p>#}
{#												<p class="text-muted font-13 mb-0 user-msg">این خیلی عالیه ممنون</p>#}
{#											</a>#}
{#											<!--/ dropdown-item-->#}
{#											<a href="javascript:void(0);" class="dropdown-item notify-item nav-user">#}
{#												<div class="notify-icon"><img src="assets/img/users/4.jpg"#}
{#														class="img-responsive img-circle" alt=""> </div>#}
{#												<p class="notify-details">شری مارشال</p>#}
{#												<p class="text-muted font-13 mb-0 user-msg">سلام ، حال شما چطور است ؟#}
{#													جلسه بعدی ما چه زمانی است ؟</p>#}
{#											</a>#}
{#											<!--/ dropdown-item-->#}
{#											<a href="javascript:void(0);" class="dropdown-item notify-item nav-user">#}
{#												<div class="notify-icon"><img src="assets/img/users/5.jpg"#}
{#														class="img-responsive img-circle" alt=""> </div>#}
{#												<p class="notify-details">سارا میلارد</p>#}
{#												<p class="text-muted font-13 mb-0 user-msg">بله ، همه چیز مرتبه</p>#}
{#											</a>#}
{#											<!--/ dropdown-item-->#}
{#										</div>#}
{#										<!--/ .Slim-->#}
{#										<div class="slimScrollBar"#}
{#											style="background: rgb(158, 165, 171) none repeat scroll 0% 0%; width: 8px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;">#}
{#										</div>#}
{#										<div class="slimScrollRail"#}
{#											style="width: 8px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;">#}
{#										</div>#}
{#									</div>#}
{#									<!--/ slimscroll-->#}
{#								</div>#}
{#								<!--/ slimScrollDiv-->#}
{#								<a href="photo_chat.html" class="dropdown-item text-center notify-all">#}
{#									نمایش همه <i class="fa fa-arrow-left"></i>#}
{#								</a>#}
{#							</div>#}
{#							<!--/ dropdown-menu-->#}
{#						</li>#}

						<li class="dropdown mega-avatar">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            	{% if request.user.photo %}
								<span class="avatar w-32"><img src="{{ request.user.photo.url }}"
										class="img-resonsive img-circle" width="25" height="25" alt="..."></span>
                            	{% else %}
								<span class="avatar w-32"><img src="{% static 'images/profile/Avatar.png' %}"
										class="img-resonsive img-circle" width="25" height="25" alt="..."></span>
                            	{% endif %}
								<!-- hidden-xs hides the username on small devices so only the image appears. -->
								<span class="hidden-xs">
									{% if request.user.is_authenticated %}
                                        {{request.user.first_name|default:request.user.username }}
                                    {% else %}
                                        <a href="{% url 'social:login' %}" >ورود</a>
                                         <a href="{% url 'social:register' %}" >ثبت نام</a>
                                    {% endif %}
								</span>
							</a>
							<div class="dropdown-menu w dropdown-menu-scale pull-right">
								<a class="dropdown-item" href="#"><span>داستان جدید</span></a>
								<a class="dropdown-item" href="#"><span>عضو شوید</span></a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><span>پروفایل</span></a>
								<a class="dropdown-item" href="#"><span>تنظیمات</span></a>
								<a class="dropdown-item" href="#">به کمک احتیاج دارید ؟</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">خروج</a>
							</div>
						</li><!-- /navbar-item -->

					</ul><!-- /.sign-in -->
				</div><!-- /.nav-left-->
			</div><!-- /.container -->
		</nav><!-- /.navbar -->
	</header><!-- Page Header -->