{% load static %}

<div id='footer' class="mar-top-20 col-fafafa wid-100 bac-col-167785">
	<div id='infooter' class='mar-aut wid-1500-px dir-rtl pad-20 m1366-wid-1366-px m1024-wid-1024-px m768-wid-768-px m640-wid-640-px m360-wid-360-px '>
		<div class='ertebatat wid-49_6 dis-inl-blo ver-ali-top m640-wid-80 m640-dis-tab m640-mar-aut m360-wid-80 m360-dis-tab m360-mar-aut '>
		<section id='ertebat' class='dir-rtl wid-49_3 dis-inl-blo ver-ali-top m360-wid-80 m360-dis-tab m360-mar-aut'>
			<div class="social-media mar-0-20 fon-siz-14 bor-bot-whi fon-wei-bol pad-10-5 m768-fon-siz-10 m768-mar-top-13 m640-fon-siz-10 m640-mar-top-13 m360-fon-siz-12 m360-mar-top-13 ">خونه بازار در شبکه های اجتماعی </div>
			{% comment %} <a href='http://www.facebook.com'><p class="cur-poi fon-siz-13 bor-rad-20-px tra-25 pad-3 col-fafafa" style="margin:7px 10%;"><img src="{% static 'image/footer/facebook.png' %}" class="wid-20-px hei-20-px m768-wid-15-px m768-hei-15-px m640-wid-15-px m640-hei-15-px m360-wid-15-px m360-hei-15-px" align='center'/>  فیسبوک</p></a> {% endcomment %}
			<a href='http://www.instagram.com/khonebazar_'><p class="cur-poi fon-siz-13 bor-rad-20-px tra-25 pad-3 col-fafafa" style="margin:7px 10%;"><img src="{% static 'images/footer/instagram.png' %}" class="wid-20-px hei-20-px m768-wid-15-px m768-hei-15-px m640-wid-15-px m640-hei-15-px m360-wid-15-px m360-hei-15-px" align='center'/>  _khonebazar </p></a>
			<a href='http://www.telegram.org/khoneh_bazar'><p class="cur-poi fon-siz-13 bor-rad-20-px tra-25 pad-3 col-fafafa" style="margin:7px 10%;"><img src="{% static 'images/footer/telegram.png' %}" class="wid-20-px hei-20-px m768-wid-15-px m768-hei-15-px m640-wid-15-px m640-hei-15-px m360-wid-15-px m360-hei-15-px"  align='center'/>  khoneh_bazar </p></a>
		</section>
		<section id='farsh' class='dir-rtl wid-49_3 dis-inl-blo ver-ali-top m360-wid-80 m360-dis-tab m360-mar-aut'>
			<div class='social-media mar-0-20 fon-siz-14 bor-bot-whi fon-wei-bol pad-10-5 m768-fon-siz-10 m768-mar-top-13 m640-fon-siz-10 m640-mar-top-13 m360-fon-siz-12 m360-mar-top-13 '> ارتباط با ما : </div>
			<p class="cur-poi fon-siz-13 bor-rad-20-px tra-25 pad-3 col-fafafa m768-mar-3-10d m768-fon-siz-8 m640-mar-3-10d m640-fon-siz-8 m360-mar-3-10d m360-fon-siz-10" style="margin:7px 10%;"><img src="{% static 'images/footer/phone.png' %}" class="wid-20-px hei-20-px m768-wid-15-px m768-hei-15-px m640-wid-15-px m640-hei-15-px m360-wid-15-px m360-hei-15-px" align='center'/> 021-28428986</p>
			<p class="cur-poi fon-siz-13 bor-rad-20-px tra-25 pad-3 col-fafafa m768-mar-3-10d m768-fon-siz-8 m640-mar-3-10d m640-fon-siz-8 m360-mar-3-10d m360-fon-siz-10" style="margin:7px 10%;"><img src="{% static 'images/footer/email.png' %}" class="wid-20-px hei-20-px m768-wid-15-px m768-hei-15-px m640-wid-15-px m640-hei-15-px m360-wid-15-px m360-hei-15-px" align='center'/> info@khoonebazaar.ir</p>
		</section>
		</div>
		<div class='ertebatat wid-49_6 dis-inl-blo ver-ali-top m640-wid-80 m640-dis-tab m640-mar-aut m360-wid-80 m360-dis-tab m360-mar-aut '>
			<section id='farsh' class='dir-rtl wid-49_3 dis-inl-blo ver-ali-top m360-wid-80 m360-dis-tab m360-mar-aut'>
				<div class='social-media mar-0-20 fon-siz-14 bor-bot-whi fon-wei-bol pad-10-5 m768-fon-siz-10 m768-mar-top-13 m640-fon-siz-10 m640-mar-top-13 m360-fon-siz-12 m360-mar-top-13 '> فروشگاه اینترنتی خونه بازار </div>
				<a href="#"><p class="cur-poi fon-siz-13 bor-rad-20-px tra-25 pad-3 col-fafafa m768-mar-3-10d m768-fon-siz-8 m640-mar-3-10d m640-fon-siz-8 m360-mar-3-10d m360-fon-siz-10" style="margin:7px 10%;"> درباره ما</p></a>
				<a href="#"><p class="cur-poi fon-siz-13 bor-rad-20-px tra-25 pad-3 col-fafafa m768-mar-3-10d m768-fon-siz-8 m640-mar-3-10d m640-fon-siz-8 m360-mar-3-10d m360-fon-siz-10" style="margin:7px 10%;">تماس با ما</p></a>
				<a href="#"><p class="cur-poi fon-siz-13 bor-rad-20-px tra-25 pad-3 col-fafafa m768-mar-3-10d m768-fon-siz-8 m640-mar-3-10d m640-fon-siz-8 m360-mar-3-10d m360-fon-siz-10" style="margin:7px 10%;"> فروشنده شوید</p></a>
			</section>
			<section id='mojavez' class='dir-rtl wid-49_9 dis-inl-blo ver-ali-top dir-ltr m768-dir-ltr m640-dir-ltr m360-dir-ltr'>
				{% comment %} <section class="mojavez_sec wid-150-px hei-150-px mar-top-25 dis-inl-blo pad-5 bor-rad-10 m1024-wid-120-px m1024-hei-120-px m768-wid-80-px m768-hei-80-px m640-wid-70-px m640-hei-70-px m360-wid-80-px m360-hei-80-px ">
					<img  src="{% static 'image/footer/enomad.png' %}" class="mojavez_img wid-140-px m1024-wid-110-px m1024-hei-110-px m768-wid-80-px m768-hei-80-px m640-wid-70-px m640-hei-70-px m360-wid-80-px m360-hei-80-px " align="center"/>
				</section>
				<section class="mojavez_sec wid-150-px hei-150-px mar-top-25 dis-inl-blo pad-5 bor-rad-10 m1024-wid-120-px m1024-hei-120-px m768-wid-80-px m768-hei-80-px m640-wid-70-px m640-hei-70-px m360-wid-80-px m360-hei-80-px ">
				<img id = 'jxlzfukzoeukrgvjjxlzrgvj' style = 'cursor:pointer'
				  class="mojavez_img wid-140-px m1024-wid-110-px m1024-hei-110-px m768-wid-80-px m768-hei-80-px m640-wid-70-px m640-hei-70-px m360-wid-80-px m360-hei-80-px " align="center"
					onclick = 'window.open("https://logo.samandehi.ir/Verify.aspx?id=168313&p=rfthgvkamcsixlaorfthxlao", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")'
					 alt = 'logo-samandehi' src = 'https://logo.samandehi.ir/logo.aspx?id=168313&p=nbpdwlbqaqgwqftinbpdqfti' />
				</section> {% endcomment %}
		</section>
		</div>
	</div>
</div>
