{% if tag %}
    <h2> Posts tagged with {{ tag.name }}</h2>
{% endif %}

<div id ="post-list">
{% for post in posts %}
    <a href="{{ post.get_absolute_url }}">
    	{{ post.description |truncatewords:20|linebreaks }}
    </a>
    Published at {{ post.created}} by {{ post.author}}


    <br>
    {% for tag in post.tags.all %}
        <a href="{% url 'social:post_list_by_tag' tag.slug %}"> {{ tag.name }}</a>
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
    <br>
    <br>
    <hr>
{% endfor %}

</div>

<button id="load-more">بار‌گذاری بیشتر</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function(){
        var page = 2;
        $('#load-more').click(function(){
            $.ajax({
                type : 'GET',
                url : "{% if tag %}{% url 'social:post_list_by_tag' tag.slug %}{% else %}{% url 'social:post_list' %}{% endif %}" + "?page=" + page,
                dataType : 'html',
                success : function(data){
                    $('#post-list').append(data);
                    page += 1;
                }
            });
        });
    });
</script>