{% extends 'parent/base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %} profile {% endblock %}

{% block content %}

	<!-- ==============================================
	 News Feed Section
	 =============================================== -->
	<section class="profile-two">
		<div class="container-fluid">
			<div class="row">

				<div class="col-lg-3">
					<aside id="leftsidebar" class="sidebar">
						<ul class="list">
							<li>
								<div class="user-info">
									<div class="image">
										<a href="#">
                                            {% if user.photo %}
											<img src="{{ user.photo.url}}" class="img-responsive img-circle"
												alt="User">
                                            {% else %}
                                                <img src="{% static 'images/profile/Avatar.png' %}" class="img-responsive img-circle"
                                            {% endif %}
											<span class="online-status online"></span>
										</a>
									</div>
									<div class="detail">
										<h4>{{ user.get_full_name }}</h4>
										<small>{{user.username}}</small>
									</div>
									<div class="row">
										<div class="col-12">
											<a title="facebook" href="#" class=" waves-effect waves-block"><i
													class="fab fa-facebook"></i></a>
											<a title="twitter" href="#" class=" waves-effect waves-block"><i
													class="fab fa-twitter"></i></a>
											<a title="instagram" href="#" class=" waves-effect waves-block"><i
													class="fab fa-instagram"></i></a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<small class="text-muted"><a href="photo_profile_two.html">{{ user.user_posts.count }} پست<em
											class="fa fa-angle-left pull-left"></em></a> </small><br />
								<small class="text-muted"><a href="{% url 'social:user_contact' user.username 'followers' %}">{{ user.followers.count }} دنبال کننده<em
											class="fa fa-angle-left pull-left"></em></a> </small><br />
								<small class="text-muted"><a href="{% url 'social:user_contact' user.username 'following' %}">{{ user.following.count }} نفر را دنبال می کند <em
											class="fa fa-angle-left pull-left"></em></a> </small>
								<hr>
								<small class="text-muted">درباره: </small>
								<p>{{ user.bio}}</p>
								<hr>
								<small class="text-muted">شغل : </small>
								<p>{{ user.job }} </p>
                                <hr>
								<small class="text-muted">تاریخ تولد : </small>
								<p>{{ user.date_of_birth}} </p>
								<hr>
							</li>
						</ul>
					</aside>
				</div>
				<!--/ col-lg-3-->

				<div class="col-lg-6" style="background: #fff;">
					<!--/ row -->

					<div class="row">
                    {% for my_post in my_posts %}
						<div class="col-lg-6">
							<a href="#myModal-{{ my_post.id }}" data-toggle="modal">
								<div class="explorebox" style="background: linear-gradient( rgba(34,34,34,0.2), rgba(34,34,34,0.2)), url('{{my_post.images.first.image_file.url}}') no-repeat;
					  background-size: cover;
					  background-position: center center;
					  -webkit-background-size: cover;
					  -moz-background-size: cover;
					  -o-background-size: cover;">
									<div class="explore-top">
										<div class="explore-like"><i class="fa fa-heart"></i> <span>{{ my_post.total_likes }}</span></div>
										<div class="explore-circle pull-left"><span>{{ my_post.total_saves }}&nbsp;</span><i class="far fa-bookmark"></i></div>
									</div>
								</div>
							</a>
						</div>
                        {% with post_id=my_post.id %}
                        {% include 'partials/my-modal.html' %}
                        {% endwith %}
                    {% endfor %}
					</div>
					<!--/ row -->

				</div>
				<div class="col-lg-3">
                    <div class="trending-box">
						<div class="row">
							<div class="col-lg-12">
								<h4>اخرین فالوینگ ها</h4>
							</div>
						</div>
					</div>
					<div class="suggestion-box full-width">
						<div class="suggestions-list">
                            {% for flw in following|slice:"0:5" %}
							<div class="suggestion-body">
                            {% if flw.photo %}
								<img class="img-responsive img-circle" src="{{ flw.photo.url}}" alt="">
                            {% else %}
                                <img class="img-responsive img-circle" src="{% static 'images/profile/Avatar.png' %}" alt="">
                            {% endif %}
								<div class="name-box">
									<h4>{{ flw.get_full_name}}</h4>
									<span>{{flw.username}}</span>
								</div>
{#								<span><i class="fa fa-plus"></i></span>#}
							</div>
                            {% endfor %}
						</div>
						<!--suggestions-list end-->
					</div>

                      <div class="trending-box">
						<div class="row">
							<div class="col-lg-12">
								<h4>اخرین فالور ها</h4>
							</div>
						</div>
					</div>
					<div class="suggestion-box full-width">
						<div class="suggestions-list">
                            {% for follower in followers|slice:"0:5" %}
							<div class="suggestion-body">
                            {% if follower.photo %}
								<img class="img-responsive img-circle" src="{{ flw.photo.url}}" alt="">
                            {% else %}
                                <img class="img-responsive img-circle" src="{% static 'images/profile/Avatar.png' %}" alt="">
                            {% endif %}
								<div class="name-box">
									<h4>{{ follower.get_full_name}}</h4>
									<span>{{ follower.username }}</span>
								</div>
{#								<span><i class="fa fa-plus"></i></span>#}
							</div>
                            {% endfor %}
						</div>
						<!--suggestions-list end-->
					</div>

					<div class="trending-box">
						<div class="row">
							<div class="col-lg-12">
								<h4>پست‌های سیو شده شما</h4>
							</div>
						</div>
					</div>

					<div class="trending-box">
                        {% for post in saved_posts %}
						<div class="row">
                        	{% if forloop.counter0|divisibleby:2 %}
							<div class="col-lg-6">
								<a href="{{post.get_absolute_url}}"><img src="{{post.images.first.image_file.url}}" class="img-responsive" alt="Image" /></a>
							</div>
                            {% else %}
							<div class="col-lg-6">
								<a href="{{post.get_absolute_url}}"><img src="{{post.images.first.image_file.url}}" class="img-responsive" alt="Image" /></a>
							</div>
                        {% endif %}
						</div>
                        {% endfor %}

					</div>
			</div>

		</div>
        </div>
	</section>


	<!-- ==============================================
	 Scripts
	 =============================================== -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/base.js' %}"></script>
	<script src="{% static 'plugins/slimscroll/jquery.slimscroll.js' %}"></script>
	<script>
	$('#Slim,#Slim2').slimScroll({
	        height:"auto",
			position: 'right',
			railVisible: true,
			alwaysVisible: true,
			size:"8px",
		});
	</script>

{% endblock %}

