{% extends 'parent/base.html' %}
{% load jformat %}
{% load blog_tags %}
{% block title %}post detail{% endblock %}

{% block content %}
    <h1 class="post-detail" >{{ post.title}}</h1>
    <p class="author">author: {{ post.author }}</p>
    <span class="pub-date">{{ post.publish|jformat:"%Y/%m/%d-%H:%M" }}</span>
    <div class="des">
    <p class="des-p">{{ post.description | markdown }}</p>
    </div>
    <hr>

    <div>
    {% with comments.count as cm_count%}
    {{ cm_count }} comment{{ cm_count|pluralize }}
    </div>

     <div>
     {% for cm in comments %}
         {{ cm.body|linebreaks}}
         <br>
         {{ cm.name }}
     {% empty %}
         کامنتی وجود ندارد!
     {% endfor %}
     </div>
    {% endwith %}
    <form method="post" action="{% url 'blog:post_comment' post.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="افزودن کامنت">
    </form>
{% endblock %}