{% extends 'parent/base.html' %}
{% block title %}post list{% endblock %}
{% load static %}
{% load blog_tags %}
{% load jformat %}
{% block head %} {% endblock %}

{% block content %}


<body>
<!-- Preloader START -->
	<div class="preloader">
		<div class="loader">
			<div class="sh1"></div>
			<div class="sh2"></div>
		</div>
	</div>
<!-- Preloader END -->

<main>

<!-- =======================
Inner intro START -->
<section class="pt-2">
	<div class="container">
		<div class="row">
      <div class="col-12">
        <div class="card bg-dark-overlay-5 overflow-hidden card-bg-scale h-400 text-center" style="background-image:url({{ post.images.first.image_file.url }}); background-position: center left; background-size: cover;">
          <!-- Card Image overlay -->
          <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
            <div class="w-100 my-auto">
              <!-- Card category -->
              <a href="#" class="badge text-bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>{{ post.category }}</a>
              <!-- Card title -->
              <h2 class="text-white display-5">{{ post.title}}</h2>
              <!-- Card info -->
              <ul class="nav nav-divider text-white-force align-items-center justify-content-center">
                <li class="nav-item">
                  <div class="nav-link">
                    <div class="d-flex align-items-center text-white position-relative">
                      <div class="avatar avatar-sm">
                        <img class="avatar-img rounded-circle" src="{{post.author.account.photo.url}}" alt="avatar">
                      </div>
                      <span class="ms-3">با <a href="#" class="stretched-link text-reset btn-link">{{ post.author }}</a></span>
                    </div>
                  </div>
                </li>
                <li class="nav-item">{{ post.publish|jformat:"%Y/%m/%d-%H:%M" }}</li>
                <li class="nav-item">{{post.reading_time}} دقیقه </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
Main START -->
<section class="pt-0">
	<div class="container position-relative" data-sticky-container>
		<div class="row">
			<!-- Main Content START -->
			<div class="col-lg-9 mb-5">
      	<p><span class="dropcap bg-dark text-white px-2">I</span>{{ post.description | markdown  }}</p>

				<!-- Images -->
				<div class="row g-2 my-5">
					{% for img in post.images.all %}
					<div class="col-md-4">
						<a href="{{ img.image_file.url }}" data-glightbox data-gallery="image-popup">
			      	<img class="rounded" src="{{ img.image_file.url }}" alt="{{ img.title }}">
			       </a>
					</div>
					{%endfor %}
				</div>

				<!-- Divider -->
				<div class="text-center h5 mb-4">. . .</div>

				<!-- Author info START -->
				<div class="d-flex p-2 p-md-4 my-3 bg-primary bg-opacity-10 rounded">
					<!-- Avatar -->
					<a href="#">
						<div class="avatar avatar-xxl me-2 me-md-4">
							<img class="avatar-img rounded-circle" src="{{post.author.account.photo.url}}" alt="avatar">
						</div>
					</a>
					<!-- Info -->
					<div>
						<div class="d-sm-flex align-items-center justify-content-between">
							<div>
					<h4 class="m-0"><a href="#" class="text-reset">{{ post.author }}</a></h4>
								<small>{{ post.author.account.job}}</small>
							</div>
						</div>
						<p class="my-2">{{ post.author.account.bio }}</p>
					</div>
				</div>
				<!-- Author info END -->

				<!-- Comments START -->
				<div class="mt-5">
					{% with comments.count as cm_count%}
					<h3> {{ cm_count }} دیدگاه </h3>
                	{% endwith %}
					<!-- Comment level 1-->
					{% for cm in comments %}
					<div class="my-4 d-flex">
					  <img class="avatar avatar-md rounded-circle float-start me-3" src="{% static 'images/avatar/av1.png' %}" alt="avatar">
					  <div>
					    <div class="mb-2">
					    	<h5 class="m-0">{{ cm.name }}</h5>
					    	<span class="me-3 small">{{ post.created|jformat:"%Y/%m/%d-%H:%M" }} </span>
					    </div>
					    <p>{{ cm.body|linebreaks}}</p>
					  </div>
					</div>
					{% empty %}
					<p>کامنتی وجود ندارد!</p>
					 {% endfor %}
				</div>
				<!-- Comments END -->


				<!-- Reply START -->
				<div>
					<h3>ثبت دیدگاه</h3>
					<small>آدرس ایمیل شما منتشر نخواهد شد.</small>
					<form class="row g-3 mt-2" method="post" action="{% url 'blog:post_comment' post.id %}" >
						{% csrf_token %}
						{{ form.as_div }}
					  <div class="col-12">
					    <button type="submit" class="btn btn-primary">ثبت</button>
					  </div>
					</form>
				</div>
				<!-- Reply END -->
			</div>
			<!-- Main Content END -->

			<!-- Right sidebar START -->
			<div class="col-lg-3">
				<div data-sticky data-margin-top="80" data-sticky-for="991">
          <!-- Categories -->
	      	<div class="row g-2">
						<h5>دسته بندی ها</h5>
						<div class="d-flex justify-content-between align-items-center bg-warning bg-opacity-15 rounded p-2 position-relative">
							<h6 class="m-0 text-warning"><a href="{% url 'blog:post_list_category' 'تکنولوژی' %}">تکنولوژی</a></h6>
						</div>
						<div class="d-flex justify-content-between align-items-center bg-info bg-opacity-10 rounded p-2 position-relative">
							<h6 class="m-0 text-info"><a href="{% url 'blog:post_list_category' 'زبان برنامه نویسی' %}">زبان برنامه نویسی</a></h6>
						</div>
						<div class="d-flex justify-content-between align-items-center bg-danger bg-opacity-10 rounded p-2 position-relative">
							<h6 class="m-0 text-danger"><a href="{% url 'blog:post_list_category' 'هوش مصنوعی' %}">هوش مصنوعی</a></h6>
						</div>
						<div class="d-flex justify-content-between align-items-center bg-primary bg-opacity-10 rounded p-2 position-relative">
							<h6 class="m-0 text-primary"><a href="{% url 'blog:post_list_category' 'بلاکچین' %}">بلاکچین</a></h6>
						</div>
						<div class="d-flex justify-content-between align-items-center bg-success bg-opacity-10 rounded p-2 position-relative">
							<h6 class="m-0 text-success"><a href="{% url 'blog:post_list_category' 'سایر' %}">سایر</a></h6>
						</div>
					</div>


					<div class="mt-4">
						<a href="#" class="d-block card-img-flash">
							<img src="assets/images/adv.png" alt="">
						</a>
					</div>
				</div>
			</div>
			<!-- Right sidebar END -->
		</div>
	</div>
</section>
<!-- =======================
Main END -->

<!-- =======================
Sticky post START -->

<!-- =======================
Sticky post END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short"></i></div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- Vendors -->
<script src="{% static 'vendor/sticky-js/sticky.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.js' %}"></script>

<!-- Template Functions -->
<script src="{% static 'js/functions.js' %}"></script>

{% endblock %}