{% extends 'parent/base.html' %}
{% block title %}profile{% endblock %}
{% block content %}

    <p> <a href="{% url 'blog:create_post' %}"> ایجاد پست جدید</a></p>

<table style="width: 80%; border: 2px solid black; text-align: right; direction: rtl;" >
    <tr>
        <th>ردیف</th>
        <th>مشاهده</th>
        <th>ویرایش</th>
        <th>حذف</th>
    </tr>
    {% for post in posts %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td><a href="{{ post.get_absolute_url }}"> {{ post.title }}</a></td>
            <td><a href="{% url 'blog:edit_post' post.id%}"> ویرایش</a></td>
            <td><a href="{% url 'blog:delete_post' post.id %}"> حذف</a></td>
        </tr>
    {% endfor %}
</table>
	<br>
    <a href="{% url 'blog:password_change' %}">تغییر پسورد</a>
    <br>
    <a href="{% url 'blog:logout' %}">خروج</a>
    <br>

{% endblock %}