{% extends 'parent/base.html' %}
{% block title %} edit user {% endblock %}
{% load static %}
{% block content %}

 <section class="login bigsection">
  <div class="container">
   <div class="banner-content">
      <form method="post" class="form-signin" enctype="multipart/form-data">
           <div class="form-group">
            {% csrf_token %}
            {{ user_form.as_p }}
           </div>
           <button class="kafe-btn kafe-btn-mint btn-block" type="submit">ذخیره تغییرات</button>
           <br/>
      </form>

   </div><!--/. banner-content -->
  </div><!-- /.container -->
 </section>

    	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/base.js' %}"></script>
	<script src="{% static 'plugins/slimscroll/jquery.slimscroll.js' %}"></script>
	<script>
	$('#Slim,#Slim2').slimScroll({
	        height:"auto",
			position: 'right',
			railVisible: true,
			alwaysVisible: true,
			size:"8px",
		});
	</script>

{% endblock %}