{% extends 'video/parent/base.html' %}
{% load static %}
{% block head %}
    <link  rel="stylesheet"  type="text/css" href="{% static 'css/resset_password.css' %} ">
{% endblock %}
{% block body %}
<div style="min-height:700px" >
    <form class="box-bw wid-570-px hei-220-px mar-110-aut box-sha-0-0-4-167785 dir-rtl bor-rad-10-px m360-wid-90 m360-mar-top-75 m360-hei-175-px " method="post" action="{% url 'resetpassword_send' %}">
    {% csrf_token %}
        <label for="phone" id="la-ph fon-siz-15 pad-10 mar-15-0 wid-100 tex-ali-cen dis-inl-blo m360-tex-ali-cen m360-wid-90 m360-dis-tab m360-mar-5-aut ">شماره تلفن ثبت نامی خود را وارد کنید :</label>
        <input type="tel"  name="number" class="control-phone wid-49 dis-tab hei-30-px fon-siz-15 mar-10-aut out-non pad-7 bor-rad-5-px tex-ali-lef dir-ltr m360-tex-ali-cen m360-wid-90 m360-dis-tab m360-mar-5-aut "  minlength="11" maxlength="11" placeholder="09 - - - - - - - - -" pattern="09(0[1-9]|1[0-9]|3[0-9]|2[0-9]|9[0-9])-?[0-9]{3}-?[0-9]{4}" required>
        <p class="p-phone fon-siz-12 m640-wid-91 mar-5-aut col-bla m360-tex-ali-cen m360-wid-90 m360-dis-tab m360-mar-5-aut ">Example number (Iran): 0912 345 6789 </p>
        <button class="btn-send wid-150-px hei-30-px mar-30-aut fon-siz-15 bac-col-167785 bor-167785 col-whi bor-rad-5-px cur-poi dis-tab m360-wid-33 m360-mar-20-aut m360-fon-siz-12  " type="submit">ارسال</button>
    </form>
</div>
<script type="text/javascript" src = "{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src = "{% static 'js/scripts.js' %}"></script>
{% endblock %}