{% load static %}

<head>
   <!-- Basic -->
		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>shop | {% block title %}{% endblock %}</title>

		<meta name="keywords" content="HTML5 Template">
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="../../static/img/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="../../static/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="/../static/css/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="/../static/css/fontawesome-free/all.min.css">
		<link rel="stylesheet" href="/../static/css/animate/animate.min.css">
		<link rel="stylesheet" href="/../static/css/simple-line-icons/simple-line-icons.min.css">
		<link rel="stylesheet" href="/../static/css/owl-carousel/owl.carousel.min.css">
		<link rel="stylesheet" href="/../static/css/owl-carousel/owl.theme.default.min.css">
		<link rel="stylesheet" href="/../static/css/magnific-popup/magnific-popup.min.css">
		<link rel="stylesheet" href="/../static/css/bootstrap-star-rating/star-rating.min.css">
		<link rel="stylesheet" href="/../static/css/bootstrap-star-rating/theme.min.css">


		<!-- Theme CSS -->
		<link rel="stylesheet" href="/../static/css/theme.css">
		<link rel="stylesheet" href="/../static/css/theme-elements.css">
		<link rel="stylesheet" href="/../static/css/theme-blog.css">
		<link rel="stylesheet" href="/../static/css/theme-shop.css">

		<link rel="stylesheet" href="/../static/css/theme-blog.css">
		<link rel="stylesheet" href="/../static/css/theme-shop.css">

		<!-- Demo CSS -->


		<!-- Skin CSS -->
		<link rel="stylesheet" href="/../static/css/skins/default.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="/../static/css/custom.css">

		<!-- Head Libs -->
{#		<script src="../../static/css/modernizr.min.js"></script>#}
        <script src="/../static/modernizr/modernizr.min.js"></script>

</head>

<body>
    {% include 'partials/header.html' %}
    {% include 'partials/navigation.html' %}
    {% block content %} {% endblock %}
    {% include 'partials/footer.html' %}

    <script src="../../static/js/jquery/jquery.min.js"></script>
    <script src="../../static/js/jquery.appear/jquery.appear.min.js"></script>
    <script src="../../static/js/jquery.easing/jquery.easing.min.js"></script>
    <script src="../../static/js/jquery.cookie/jquery.cookie.min.js"></script>
    <script src="../../static/js/popper/popper.min.js"></script>
    <script src="../../static/js/bootstrap/bootstrap.min.js"></script>
    <script src="../../static/js/common/common.min.js"></script>
    <script src="../../static/js/jquery.validation/jquery.validate.min.js"></script>
    <script src="../../static/js/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="../../static/js/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="../../static/js/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="../../static/js/isotope/jquery.isotope.min.js"></script>
    <script src="../../static/js/owl.carousel/owl.carousel.min.js"></script>
    <script src="../../static/js/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../../static/js/vide/jquery.vide.min.js"></script>
    <script src="../../static/js/vivus/vivus.min.js"></script>
    <script src="../../static/js/bootstrap-star-rating/star-rating.min.js"></script>
    <script src="../../static/js/bootstrap-star-rating/fa.js"></script>
    <script src="../../static/js/bootstrap-star-rating/krajee-fas/theme.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="../../static/js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="../../static/js/views/view.shop.js"></script>

    <!-- Theme Custom -->
    <script src="../../static/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/../static/js/theme.init.js"></script>
</body>

