{% load static %}
<footer class="pb-0">
	<div class="container">
		<hr>
		<!-- Widgets START -->
		<div class="row pt-5">
			<!-- Footer Widget -->
			<div class="col-md-6 col-lg-4 mb-4">
				<img class="light-mode-item" style="width: 120px; height: 60px" src="{% static 'images/icon/blog-logo.png' %}" alt="logo">
				<img class="dark-mode-item" style="width: 120px; height: 60px" src="{% static 'images/icon/blog-logo.png' %}" alt="logo">
				<p class="mt-3">این وبسیات یک وبسایت تمرینی برای دوره متخصص جنگو سبزلرن است</p>
				<div class="mt-4">©2022 ارائه شده توسط سبزلرن
				</div>
			</div>

			<!-- Footer Widget -->
			<div class="col-md-6 col-lg-3 mb-4">
				<h5 class="mb-4">لینک های مفید</h5>
				<div class="row">
					<div class="col-6">
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link pt-0" href="{% url 'blog:post_list' %}">لیست پست ها</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'blog:profile' %}">داشبورد</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'blog:ticket' %}">ارسال تیکت</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'blog:create_post' %}">ایجاد پست</a></li>
						</ul>
					</div>
 					<div class="col-6">
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link pt-0" href="{% url 'blog:post_list_category' 'تکنولوژِی' %}">تکنولوژِی</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'blog:post_list_category' 'هوش مصنوعی' %}">هوش مصنوعی</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'blog:post_list_category' 'زبان برنامه نویسی' %}">زبان برنامه نویسی</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'blog:post_list_category' 'بلاکچین' %}">بلاکچین</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'blog:post_list_category' 'سایر' %}">سایر</a></li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Footer Widget -->
			<div class="col-sm-6 col-lg-3 mb-4">
				<h5 class="mb-4">پربیننده ترین</h5>
				<ul class="list-inline">
					<li class="list-inline-item"><a href="{% url 'blog:post_list_category' 'تکنولوژِی' %}" class="btn btn-sm btn-primary-soft">تکنولوژِی</a></li>
					<li class="list-inline-item"><a href="{% url 'blog:post_list_category' 'هوش مصنوعی' %}" class="btn btn-sm btn-success-soft">هوش مصنوعی</a></li>
					<li class="list-inline-item"><a href="{% url 'blog:post_list_category' 'زبان برنامه نویسی' %}#" class="btn btn-sm btn-warning-soft">زبان برنامه نویسی</a></li>
					<li class="list-inline-item"><a href="{% url 'blog:post_list_category' 'بلاکچین' %}" class="btn btn-sm btn-danger-soft">بلاکچین</a></li>
					<li class="list-inline-item"><a href="{% url 'blog:post_list_category' 'سایر' %}" class="btn btn-sm btn-info-soft">سایر</a></li>
				</ul>
			</div>

			<!-- Footer Widget -->
			<div class="col-sm-6 col-lg-2 mb-4">
				<h5 class="mb-4">شبکه های اجتماعی</h5>
				<ul class="nav flex-column">
					<li class="nav-item"><a class="nav-link pt-0" href="#"><i class="fab fa-facebook-square fa-fw me-2 text-facebook"></i>Facebook</a></li>
					<li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-twitter-square fa-fw me-2 text-twitter"></i>Twitter</a></li>
					<li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-linkedin fa-fw me-2 text-linkedin"></i>Linkedin</a></li>
					<li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-youtube-square fa-fw me-2 text-youtube"></i>YouTube</a></li>
				</ul>
			</div>
		</div>
		<!-- Widgets END -->
	</div>
</footer>
