<nav class="my-5" aria-label="navigation">
    <ul class="pagination d-inline-block d-md-flex justify-content-center">

{% if page.has_previous %}
    <li class="page-item">
    	<a class="page-link" href="?page={{ page.previous_page_number }}" tabindex="-1" aria-disabled="true">قبل</a>
    </li>

  {% if page.number > 3 %}
    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
    {% if page.number > 4 %}
      <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
    {% endif %}
  {% endif %}

{% endif %}

{% for num in page.paginator.page_range %}
  {% if page.number == num %}
    <li class="page-item"><a class="page-link active" href="?page={{ num }}">{{ num }}</a></li>
  {% elif num > page.number|add:'-3' and num < page.number|add:'3' %}
    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
  {% endif %}
{% endfor %}

{% if page.has_next %}
  {% if page.number < page.paginator.num_pages|add:'-3' %}
    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a></li>
  {% elif page.number < page.paginator.num_pages|add:'-2' %}
      <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a></li>

  {% endif %}
    <li class="page-item">
    	<a class="page-link" href="?page={{ page.next_page_number }}">بعد</a>
    </li>
{% endif %}

	</ul>
</nav>
