<!DOCTYPE html>
<html dir="rtl" lang="fa">
{% extends 'parent/base.html' %}
{% load static %}
{% block title %}لیست سفارش ها{% endblock %}

{% block content %}

		<div class="body">

			<div role="main" class="main">

				<div class="container py-2">

					<div class="row">
						<div class="col">
							<div class="row">
								<div class="col pb-3">
									<h4>تراکنش ها من</h4>

									<table class="table">
										<thead>
											<tr>
                                                <th>

                                                </th>
												<th>
                                                    تاریخ سفارش
												</th>
												<th>
                                                    نام محصول
												</th>
												<th>
                                                    قیمت
                                                </th>
                                                <th>
                                                    تعداد
                                                </th>
                                                <th>
                                                    مشخصات
                                                </th>
                                                <th>
                                                    وضعیت
                                                </th>
                                                <th>
                                                    جزئیات
                                                </th>
											</tr>
										</thead>
										<tbody>
                                        {% for order in orders %}

											<tr>
												<td><a href="{{ order.items.first.product.get_absolute_url }}"><img src="{{ order.items.first.product.images.first.file.url }}" width="50" height="60" alt="product picture"></a></td>
												<td>
													{{ order.created }}
												</td>
                                                <td><a href="{% url 'orders:order-detail' order.id %}">{{ order.items.first.product }}</a></td>
												<td>{{ order.items.first.price }}</td>
                                                <td>{{ order.items.first.quantity }}</td>
                                                <td>{{ order.items.first.weight }}</td>
                                                {% if order.paid %}
                                                <td><i class="fa fa-check text-success"></i></td>
                                                {% else %}
                                                <td><i class="fa fa-stop-circle text-danger"></i></td>
                                                {% endif %}
                                                <td><a href="{% url 'orders:order-detail' order.id %}" class="check-btn sqr-btn ">نمایش</a></td>
											</tr>
                                        {% endfor %}
										</tbody>
									</table>

								</div>
							</div>

						</div>
					</div>

				</div>

			</div>
		</div>
{% endblock %}
</html>