{% extends 'parent/base.html' %}
{% block title %}chang password{% endblock %}

{% block content %}
    <section class="py-4">
	<div class="container">
    <div class="row pb-4">
			<div class="col-12">
        <!-- Title -->
        <h1 class="mb-0 h3">تغییر پسورد</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<!-- Chart START -->
				<div class="card border h-100">
					<!-- Card body -->
					<div class="card-body">
            <!-- Form START -->
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="تغییر پسورد">
    </form>

                        <!-- Form END -->
        </div>
    </div><!-- Chart END -->
</div>
    </div>
	</div>
</section>
{% endblock %}